In [21]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from logging import getLogger

# 常に全てのカラムを表示
pd.options.display.max_columns = None

# データ取り込み

In [22]:
# 表示
imp = pd.read_csv("input/section5-ab_test_imp.csv", header="infer")
imp = pd.DataFrame(imp)

# クリック
goal = pd.read_csv("input/section5-ab_test_goal.csv", header="infer")
goal = pd.DataFrame(goal)

In [23]:
# データ中身確認
print(imp.head())
print(goal.head())

     log_date app_name   test_name test_case  user_id  transaction_id
0  2013-10-01  game-01  sales_test         B    36703           25622
1  2013-10-01  game-01  sales_test         A    44339           25623
2  2013-10-01  game-01  sales_test         B    32087           25624
3  2013-10-01  game-01  sales_test         B    10160           25625
4  2013-10-01  game-01  sales_test         B    46113           25626
     log_date app_name   test_name test_case  user_id  transaction_id
0  2013-10-01  game-01  sales_test         B    15021           25638
1  2013-10-01  game-01  sales_test         B      351           25704
2  2013-10-01  game-01  sales_test         B     8276           25739
3  2013-10-01  game-01  sales_test         B     1230           25742
4  2013-10-01  game-01  sales_test         B    17471           25743

In [24]:
# 結合
all_df = pd.merge(imp, goal, on=["transaction_id"], how="left", suffixes=('', '_g'))

In [25]:
all_df.head(500)

,log_date,app_name,test_name,test_case,user_id,transaction_id,log_date_g,app_name_g,test_name_g,test_case_g,user_id_g
0,2013-10-01,game-01,sales_test,B,36703,25622,NaN,NaN,NaN,NaN,NaN
1,2013-10-01,game-01,sales_test,A,44339,25623,NaN,NaN,NaN,NaN,NaN
2,2013-10-01,game-01,sales_test,B,32087,25624,NaN,NaN,NaN,NaN,NaN
3,2013-10-01,game-01,sales_test,B,10160,25625,NaN,NaN,NaN,NaN,NaN
4,2013-10-01,game-01,sales_test,B,46113,25626,NaN,NaN,NaN,NaN,NaN
5,2013-10-01,game-01,sales_test,A,6605,25627,NaN,NaN,NaN,NaN,NaN
6,2013-10-01,game-01,sales_test,A,346,25628,NaN,NaN,NaN,NaN,NaN
7,2013-10-01,game-01,sales_test,A,42710,25629,NaN,NaN,NaN,NaN,NaN
8,2013-10-01,game-01,sales_test,A,37194,25630,NaN,NaN,NaN,NaN,NaN
9,2013-10-01,game-01,sales_test,A,123,25631,NaN,NaN,NaN,NaN,NaN
10,2013-10-01,game-01,sales_test,A,41638,25632,NaN,NaN,NaN,NaN,NaN
11,2013-10-01,game-01,sales_test,B,49024,25633,NaN,NaN,NaN,NaN,NaN
12,2013-10-01,game-01,sales_test,B,42199,25634,NaN,NaN,NaN,NaN,NaN
13,2013-10-01,game-01,sales_test,B,33444,25635,NaN,NaN,NaN,NaN,NaN
14,2013-10-01,game-01,sales_test,B,9347,25636,NaN,NaN,NaN,NaN,NaN
15,2013-10-01,game-01,sales_test,B,39412,25637,NaN,NaN,NaN,NaN,NaN
16,2013-10-01,game-01,sales_test,B,15021,25638,2013-10-01,game-01,sales_test,B,15021.0
17,2013-10-01,game-01,sales_test,B,118,25639,NaN,NaN,NaN,NaN,NaN
18,2013-10-01,game-01,sales_test,A,42885,25640,NaN,NaN,NaN,NaN,NaN
19,2013-10-01,game-01,sales_test,B,9498,25641,NaN,NaN,NaN,NaN,NaN
20,2013-10-01,game-01,sales_test,B,16920,25642,NaN,NaN,NaN,NaN,NaN
21,2013-10-01,game-01,sales_test,A,31438,25643,NaN,NaN,NaN,NaN,NaN
22,2013-10-01,game-01,sales_test,A,37050,25644,NaN,NaN,NaN,NaN,NaN
23,2013-10-01,game-01,sales_test,B,47484,25645,NaN,NaN,NaN,NaN,NaN
24,2013-10-01,game-01,sales_test,A,49528,25646,NaN,NaN,NaN,NaN,NaN
25,2013-10-01,game-01,sales_test,A,45125,25647,NaN,NaN,NaN,NaN,NaN
26,2013-10-01,game-01,sales_test,A,35315,25648,NaN,NaN,NaN,NaN,NaN
27,2013-10-01,game-01,sales_test,A,37195,25649,NaN,NaN,NaN,NaN,NaN
28,2013-10-01,game-01,sales_test,A,32304,25650,NaN,NaN,NaN,NaN,NaN
29,2013-10-01,game-01,sales_test,A,45970,25651,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
470,2013-10-01,game-01,sales_test,B,33557,26092,NaN,NaN,NaN,NaN,NaN
471,2013-10-01,game-01,sales_test,A,49572,26093,NaN,NaN,NaN,NaN,NaN
472,2013-10-01,game-01,sales_test,B,4062,26094,NaN,NaN,NaN,NaN,NaN
473,2013-10-01,game-01,sales_test,A,41066,26095,NaN,NaN,NaN,NaN,NaN
474,2013-10-01,game-01,sales_test,A,41154,26096,NaN,NaN,NaN,NaN,NaN
475,2013-10-01,game-01,sales_test,B,45995,26097,2013-10-01,game-01,sales_test,B,45995.0
476,2013-10-01,game-01,sales_test,B,29317,26098,NaN,NaN,NaN,NaN,NaN
477,2013-10-01,game-01,sales_test,B,49686,26099,NaN,NaN,NaN,NaN,NaN
478,2013-10-01,game-01,sales_test,B,18554,26100,NaN,NaN,NaN,NaN,NaN
479,2013-10-01,game-01,sales_test,B,46888,26101,NaN,NaN,NaN,NaN,NaN
480,2013-10-01,game-01,sales_test,B,42230,26102,NaN,NaN,NaN,NaN,NaN
481,2013-10-01,game-01,sales_test,B,49573,26103,NaN,NaN,NaN,NaN,NaN
482,2013-10-01,game-01,sales_test,B,47143,26104,NaN,NaN,NaN,NaN,NaN
483,2013-10-01,game-01,sales_test,A,31583,26105,NaN,NaN,NaN,NaN,NaN
484,2013-10-01,game-01,sales_test,B,49687,26106,NaN,NaN,NaN,NaN,NaN
485,2013-10-01,game-01,sales_test,A,8600,26107,NaN,NaN,NaN,NaN,NaN
486,2013-10-01,game-01,sales_test,A,47313,26108,NaN,NaN,NaN,NaN,NaN
487,2013-10-01,game-01,sales_test,A,49338,26109,NaN,NaN,NaN,NaN,NaN
488,2013-10-01,game-01,sales_test,A,159,26110,NaN,NaN,NaN,NaN,NaN
489,2013-10-01,game-01,sales_test,B,45428,26111,NaN,NaN,NaN,NaN,NaN
490,2013-10-01,game-01,sales_test,A,48122,26112,NaN,NaN,NaN,NaN,NaN
491,2013-10-01,game-01,sales_test,B,41468,26113,NaN,NaN,NaN,NaN,NaN
492,2013-10-01,game-01,sales_test,B,31067,26114,NaN,NaN,NaN,NaN,NaN
493,2013-10-01,game-01,sales_test,B,27824,26115,NaN,NaN,NaN,NaN,NaN
494,2013-10-01,game-01,sales_test,A,49336,26116,NaN,NaN,NaN,NaN,NaN
495,2013-10-01,game-01,sales_test,A,9058,26117,NaN,NaN,NaN,NaN,NaN
496,2013-10-01,game-01,sales_test,B,44565,26118,NaN,NaN,NaN,NaN,NaN
497,2013-10-01,game-01,sales_test,B,43613,26119,NaN,NaN,NaN,NaN,NaN
498,2013-10-01,game-01,sales_test,B,46357,26120,NaN,NaN,NaN,NaN,NaN
499,2013-10-01,game-01,sales_test,B,16322,26121,NaN,NaN,NaN,NaN,NaN

## データ加工

In [26]:
# 日付型に変換
all_df["log_date_formatted"] = 0
all_df["log_date_formatted"] = pd.to_datetime(all_df["log_date"], format='%Y-%m-%d')

In [27]:
# 新しいカラムでフラグ化  (クリックしたか)
all_df['has_click'] = 0
all_df.loc[all_df['test_case_g'].isnull() == False, 'has_click'] = 1

## 可視化

In [28]:
# EDA
import pandas_profiling as pp
import pixiedust as px
pp.ProfileReport(all_df)

findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
/root/miniconda3/lib/python3.7/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)
findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.
findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans.

In [29]:
px.display(all_df)

In [33]:
from pivottablejs import pivot_ui
pivot_ui(all_df, outfile_path="avg.html")

In [31]:
# クロス集計をする
crossed = pd.crosstab(all_df["test_case"], all_df["has_click"])
crossed

has_click      0     1
test_case
A          40592  3542
B          38734  5056

In [32]:
import scipy as sp
import scipy.stats

x2, p, dof, expected = sp.stats.chi2_contingency(crossed)

print("カイ二乗値は %(x2)s" %locals() )
print("確率は %(p)s" %locals() )
print("自由度は %(dof)s" %locals() )
print( expected )

if p < 0.05:
    print("有意な差があります")
else:
    print("有意な差がありません")

カイ二乗値は 308.37505289322877
確率は 4.934139633785632e-69
自由度は 1
[[39818.18029207  4315.81970793]
 [39507.81970793  4282.18029207]]
有意な差があります